/* ==========================================================================
   TEXT STYLES
========================================================================== */
//



/* ==========================================================================
   TITLE STYLES
========================================================================== */
// Title: Medium
.title-medium {
    font-size: clamp(#{pxrem(24px)}, 4vw, #{pxrem(40px)});
    font-weight: 700;
    line-height: 0.8;
    letter-spacing: -0.03em;

    @include bp (md) {
    }
}
